/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

/[Pp]ackages/PackageCache/
/[Pp]ackages/com.unity.collab-proxy/

/[Bb]uildReport/
/[Cc]ache/

*.csproj
*.sln
*.user
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

*.log
*.unitypackage
*.apk
*.aab

.DS_Store
Thumbs.db